#  Commonly used Built-in Functions in Python

# 1. print(): Outputs text or variables to the console.

In [1]:
print("Hello World!")

Hello World!

# 2. len(): Returns the length of an object.

In [2]:
my_list = [1,2,3,4,5,6,7,8,9,0]
print(len(my_list))

10

In [3]:
name = "Rakib Hasan"
length = len(name)
print(length)

11

# 3. input(): Reads input from the user.

In [4]:
name = input("Enter your name : ")
result = ("My name is ",name)
print(result)

Enter your name :  rakib

('My name is ', 'rakib')

In [5]:
nam = input("Enter Name : ")
val = "my name is"
print(val,nam)

Enter Name :  fahim

my name is fahim

# 4. type(): Returns the type of an object.

In [6]:
x = 5
type(x)

int

In [7]:
y = 10.50
type(y)

float

# 5. int(), float(), str(): Converts values to integers, floats, or strings.

In [8]:
#string to int
num = '99'
convert_num = int(num)
type(convert_num)

int

In [9]:
#int to float
num1 = 99
conv_float = float(num1)
type(conv_float)

float

In [10]:
#float to int
f = 99.99
conv_int = int(f)
type(conv_int)

int

# 6. range(): Generates a sequence of numbers.

In [11]:
x = range(1,10)
print(x)

range(1, 10)

In [12]:
numbers = list(range(1,11)) #1 to 11-1
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 7. sum(): Returns the sum of all elements in an iterable.

In [13]:
list1 = [1,2,3,4,5,6,7,8,9,10]
fin = sum(list1) #sum(variable)
print(fin)

55

# 8. max(), min(): Returns the maximum or minimum value from an iterable.

In [14]:
val_list = [132,3436,74,6,9,3,5,9,4,80,42]
max_value = max(val_list)
print(max_value)

3436

In [15]:
val_list = [132,3436,74,6,9,3,5,9,4,80,42]
min_value = min(val_list)
print(min_value)

3

# 9. abs(): Returns the absolute value of a number.

In [16]:
ab = abs(-10)
print(ab)

10

In [17]:
absolute_value = abs(-199) #negatuve value ke positive value return kore

In [18]:
absolute_value

199

# 10. round(): Rounds a floating-point number to a specified number of decimals.

In [19]:
var = round(3.345644,2) #returns to 2 decimal places
print(var)

3.35

In [20]:
round_value = round(3.14159,4) #round(value,koto round porjonto nibo)

In [21]:
round_value

3.1416

# 11. sorted(): Returns a new sorted list from the elements of an iterable.

In [22]:
list1 = [32,34,7,3,72,79,368,847]
sorted_list = sorted(list1)
print(sorted_list)

[3, 7, 32, 34, 72, 79, 368, 847]

# 12. any(), all(): Returns True if any or all elements in an iterable are true.

In [23]:
bool_list = [True,False,True,True,False]
any_true = any(bool_list) #one True value thakle True return korbe
all_ture = all(bool_list) #all value true hote hbe

In [24]:
any_true #true value ache tai true return korche

True

In [25]:
all_ture #all value true nai tai false return korche

False

# 13. str.join(): Joins elements of an iterable with a string as a separator.

In [26]:
my_list = ["Banana","Apple","Orange"]
joined_str = " , ".join(my_list)

In [27]:
joined_str

'Banana , Apple , Orange'

# 14. str.lower(), str.upper(): Converts a string to lowercase or uppercase.

In [40]:
my_string = "Rakib, Hasan"
lower_case = my_string.lower()
upper_case = my_string.upper()

In [41]:
lower_case

'rakib, hasan'

In [42]:
upper_case

'RAKIB, HASAN'

# 15. list(), tuple(): Converts an iterable to a list or tuple.

In [43]:
my_tuple = (1,2,3,4,5,6) #tuple
tuple_to_list = list(my_tuple) #convert to list

In [44]:
tuple_to_list

[1, 2, 3, 4, 5, 6]

In [45]:
type(tuple_to_list)

list

In [46]:
tuple(tuple_to_list)

(1, 2, 3, 4, 5, 6)

# 16. dict(): Creates a dictionary.

In [48]:
my_dict = dict(name = "Rakib", Age = 24)

In [49]:
my_dict

{'name': 'Rakib', 'Age': 24}

In [50]:
my_dict.keys()

dict_keys(['name', 'Age'])

In [51]:
my_dict.values()

dict_values(['Rakib', 24])

# 17. set(): Creates a set.

In [52]:
my_set = set([1,2,3,4,5])

In [53]:
my_set

{1, 2, 3, 4, 5}

In [54]:
type(my_set)

set

# 18. enumerate(): Returns tuples with the index and corresponding element.

In [56]:
my_list = ["a","b","c","d"]
for index,value in enumerate(my_list):
    print(index,value)

0 a
1 b
2 c
3 d

# 19. zip(): Combines two or more iterables element-wise.

In [57]:
name = ["Fahim","Rakib","Hasan"]
ages = [24,23,25]
zipped = zip(name,ages)
print(zipped)

<zip object at 0x000002D894A75A40>

In [58]:
type(zipped)

zip

# 20. reversed(): Returns a reverse iterator of a sequence.

In [59]:
list1 = [1,2,3,4,5,6,7,8,9]
reverse_list = reversed(list1)

In [60]:
reverse_list

In [61]:
list1 = [1,2,3,4,5,6,7,8,9]
reverse_list = list(reversed(list1))

In [62]:
reverse_list

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# 21. sum() (with start argument): Returns the sum of an iterable with an optional starting value.

In [63]:
numbers = [1,2,3,4,5,6,7,8,9]
total = sum(numbers,100) #sum(numbers,start)

In [64]:
total

145

# 22. abs() (for complex numbers): Returns the magnitude of a complex number.

The magnitude of a complex number is the distance from the origin (0,0) to the point representing the complex number in the complex plane. For a complex number (a + bi), where (a) is the real part and (b) is the imaginary part, the magnitude (or modulus) is given by the formula:

[ |a + bi| = \sqrt{a^2 + b^2} ]

In other words, it's the square root of the sum of the squares of the real and imaginary parts. This magnitude represents the length of the vector in the complex plane.

In [65]:
complex_num = 3 + 4j
magnitude = abs(complex_num)

In [66]:
magnitude

5.0

# 23. slice(): Creates a slice object that can be used to slice sequences like lists and strings.

In [67]:
my_list = [1,2,3,4,5,6,7,8,9]
my_slice = slice(1,4)
sliced_list = my_list[my_slice]

In [68]:
sliced_list

[2, 3, 4]

# 24. chr(), ord() (extended usage): Handling Unicode characters and code points.

In [69]:
euro_symbol = chr(8364)

In [70]:
euro_symbol

'â‚¬'