# Python Break Statement

In [2]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [3]:
for i in range(1,101):
    if i == 50:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [4]:
for i in range(1,100):
    if i == 11:
        break
    print("3 *",i,'= ',i*3)

3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
3 * 10 =  30

In [5]:
sen = "i love bangladesh and london"
for i in sen.split():
    if i == "and":
        break
    print(i)

i
love
bangladesh

# Using While loop

In [7]:
i = 1
while i <= 100:
    if i == 11:
        break
    print("5 *",i,"=",i*5)
    i += 1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Continue in python

In [8]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [9]:
type(num)

list

# list comprehension

In [10]:
num1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
val = [i for i in num1 if i % 2 == 0] #output only even number
print(val)

[2, 4, 6, 8, 10, 12, 14, 16]

In [11]:
#using loop

for i in num1:
    if i % 2 == 1:
        continue
    print(i)

2
4
6
8
10
12
14
16

In [12]:
sen1 = 'i love bangladesh & london.'

for i in sen1.split():
    if i == "&":
        continue
    print(i)

i
love
bangladesh
london.