# All About Data Types in Python

In [1]:
#numeric data


x = 10 #int
y = 10.5 #float
z = 1+5j #1 is real number and 5j is imaginary

In [2]:
type(x)

int

In [3]:
type(y)

float

In [4]:
type(z)

complex

In [5]:
#check type isinstance(var,data type)
isinstance(x,int)

True

# Type Casting

In [6]:
#int to float

n = float(x)

In [7]:
n

10.0

In [8]:
type(n)

float

In [9]:
n = int(n)
type(n)

int

In [10]:
n

10

In [11]:
#int to complex

n = complex(n)

In [12]:
n

(10+0j)

In [13]:
type(n)

complex

In [14]:
n = int(n)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [15]:
type(n)

complex

In [16]:
#user input

n = complex(input("Enter your complex number : "))

Enter your complex number :  1

n

In [18]:
n = complex(input("Enter your complex number : "))

Enter your complex number :  5+1j

In [19]:
n

(5+1j)

# Boolean Data Type

In [20]:
x = True
y = False

In [21]:
type(x)

bool

In [22]:
x

True

In [23]:
y

False

In [24]:
type(y)

bool

In [25]:
true #give error

NameError: name 'true' is not defined

# Sequence Data Type

In [26]:
#List

l1 = [1,23,4,5,6]

In [27]:
type(l1)

list

In [28]:
l1

[1, 23, 4, 5, 6]

In [29]:
l2 = [1,2,3,4,"python",True,(10,20),[100,200]]

In [30]:
l2

[1, 2, 3, 4, 'python', True, (10, 20), [100, 200]]

In [31]:
l2[0]

1

In [32]:
l2[-1]

[100, 200]

In [33]:
l2[-1][0]

100

In [34]:
#Tuple

tup = (1,2,4,5,"python")

In [35]:
tup

(1, 2, 4, 5, 'python')

In [36]:
type(tup)

tuple

In [37]:
tup[0:4]

(1, 2, 4, 5)

In [38]:
#Range
x = range(10)

In [39]:
x

range(0, 10)

In [40]:
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [41]:
x = range(5,20)

In [42]:
for i in x:
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [43]:
x = range(2,21,2)

In [44]:
for i in x:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [45]:
x = range(100,9,-10)

In [46]:
for i in x:
    print(i)

100
90
80
70
60
50
40
30
20
10

# Array

In [47]:
import array as ar
a = ar.array([1,2,3,4])

TypeError: array() argument 1 must be a unicode character, not list

In [48]:
a = ar.array("i",[1,2,3,4]) # i mean integer

In [49]:
a

array('i', [1, 2, 3, 4])

In [54]:
b = ar.array("i",[1,2,3.5])

TypeError: 'float' object cannot be interpreted as an integer

In [53]:
b = ar.array("f",[1,2,3.5])
b

array('f', [1.0, 2.0, 3.5])

# Set

In [55]:
s = {1,2,3,4}
s

{1, 2, 3, 4}

In [56]:
type(s)

set

# Dictionary

In [57]:
dic = {
    "name" : "Rakib",
    "age" : 24,
    "city" : "dhaka"
}

dic

{'name': 'Rakib', 'age': 24, 'city': 'dhaka'}

In [58]:
type(dic)

dict

In [59]:
dic.keys()

dict_keys(['name', 'age', 'city'])

In [60]:
dic.values()

dict_values(['Rakib', 24, 'dhaka'])

# Data Frame

In [61]:
import pandas as pd
df = pd.read_csv("annual-enterprise-survey-2023-financial-year-provisional.csv")

In [62]:
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
50980,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50981,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50982,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50983,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50984,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [63]:
df.shape

(50985, 10)

In [64]:
df.head(10)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
5,2023,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,55267,ANZSIC06 divisions A-S (excluding classes K633...
6,2023,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,7426,ANZSIC06 divisions A-S (excluding classes K633...
7,2023,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,30814,ANZSIC06 divisions A-S (excluding classes K633...
8,2023,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,147663,ANZSIC06 divisions A-S (excluding classes K633...
9,2023,Level 1,99999,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,269,ANZSIC06 divisions A-S (excluding classes K633...

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50985 entries, 0 to 50984
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         50985 non-null  int64
 1   Industry_aggregation_NZSIOC  50985 non-null  object
 2   Industry_code_NZSIOC         50985 non-null  object
 3   Industry_name_NZSIOC         50985 non-null  object
 4   Units                        50985 non-null  object
 5   Variable_code                50985 non-null  object
 6   Variable_name                50985 non-null  object
 7   Variable_category            50985 non-null  object
 8   Value                        50985 non-null  object
 9   Industry_code_ANZSIC06       50985 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.9+ MB

# Binary Type

In [66]:
byte = bytearray("abcd","utf-8")

In [67]:
byte

bytearray(b'abcd')

In [68]:
type(byte)

bytearray

In [69]:
#memory view
memoryview(byte)

In [70]:
memoryview(byte)[0]

97

In [71]:
mv = memoryview(byte)
mv[0] = 65

In [72]:
memoryview(byte)[0]

65