# More About Return

In [1]:
def user_input():
    x1 = int(input("Enter x1 value : "))
    x2 = int(input("Enter x2 value : "))
    y1 = int(input("Enter y1 value : "))
    y2 = int(input("Enter y2 value : "))

    return x1,y1

In [2]:
user_input()

Enter x1 value :  4
Enter x2 value :  5
Enter y1 value :  6
Enter y2 value :  7

(4, 6)

In [3]:
def user_input():
    x1 = int(input("Enter x1 value : "))
    x2 = int(input("Enter x2 value : "))
    y1 = int(input("Enter y1 value : "))
    y2 = int(input("Enter y2 value : "))

    return x1,y1,x2,y2

In [4]:
user_input()

Enter x1 value :  10
Enter x2 value :  20
Enter y1 value :  30
Enter y2 value :  40

(10, 30, 20, 40)

In [5]:
def user_input():
    x1 = int(input("Enter x1 value : "))
    x2 = int(input("Enter x2 value : "))
    y1 = int(input("Enter y1 value : "))
    y2 = int(input("Enter y2 value : "))

    return (x1,y1),(x2,y2)

In [6]:
user_input()

Enter x1 value :  70
Enter x2 value :  80
Enter y1 value :  90
Enter y2 value :  100

((70, 90), (80, 100))

In [7]:
def user_input():
    x1 = int(input("Enter x1 value : "))
    x2 = int(input("Enter x2 value : "))
    y1 = int(input("Enter y1 value : "))
    y2 = int(input("Enter y2 value : "))

    return (x1,y1),(x2,y2)

In [8]:
r1,r2 = user_input()

Enter x1 value :  2
Enter x2 value :  3
Enter y1 value :  4
Enter y2 value :  5

In [9]:
r1

(2, 4)

In [10]:
r2

(3, 5)

In [11]:
def user_input():
    x1 = int(input("Enter x1 value : "))
    x2 = int(input("Enter x2 value : "))
    y1 = int(input("Enter y1 value : "))
    y2 = int(input("Enter y2 value : "))

    return (x1,y1),(x2,y2)

In [12]:
r1,_ = user_input()

Enter x1 value :  23
Enter x2 value :  24
Enter y1 value :  25
Enter y2 value :  22

In [13]:
r1

(23, 25)

In [14]:
def user_input():
    x1 = int(input("Enter x1 value : "))
    x2 = int(input("Enter x2 value : "))
    y1 = int(input("Enter y1 value : "))
    y2 = int(input("Enter y2 value : "))

    return (x1,y1),(x2,y2)

In [15]:
r1,= user_input()

Enter x1 value :  33
Enter x2 value :  34
Enter y1 value :  35
Enter y2 value :  36

ValueError: too many values to unpack (expected 1)

In [16]:
def user_input():
    x1 = int(input("Enter x1 value : "))
    x2 = int(input("Enter x2 value : "))
    y1 = int(input("Enter y1 value : "))
    y2 = int(input("Enter y2 value : "))

    return (x1,y1),(x2,y2)

In [18]:
r1 = user_input()

Enter x1 value :  1
Enter x2 value :  2
Enter y1 value :  3
Enter y2 value :  4

In [19]:
r1

((1, 3), (2, 4))

In [20]:
def sq_and_cube(x):
    sq = x**2 #square
    cube = x**3 #cube

    return sq,cube
sq_and_cube(3)

(9, 27)