#  Commonly used Built-in Functions in Python

# 1. print(): Outputs text or variables to the console.

In [1]:
print("Hello World!")

Hello World!

# 2. len(): Returns the length of an object.

In [2]:
my_list = [1,2,3,4,5,6,7,8,9,0]
print(len(my_list))

10

In [3]:
name = "Rakib Hasan"
length = len(name)
print(length)

11

# 3. input(): Reads input from the user.

In [4]:
name = input("Enter your name : ")
result = ("My name is ",name)
print(result)

Enter your name :  Fahim Hasan

('My name is ', 'Fahim Hasan')

In [5]:
nam = input("Enter Name : ")
val = "my name is"
print(val,nam)

Enter Name :  rakib

my name is rakib

# 4. type(): Returns the type of an object.

In [6]:
x = 5
type(x)

int

In [7]:
y = 10.50
type(y)

float

# 5. int(), float(), str(): Converts values to integers, floats, or strings.

In [8]:
#string to int
num = '99'
convert_num = int(num)
type(convert_num)

int

In [11]:
#int to float
num1 = 99
conv_float = float(num1)
type(conv_float)

float

In [12]:
#float to int
f = 99.99
conv_int = int(f)
type(conv_int)

int

# 6. range(): Generates a sequence of numbers.

In [13]:
x = range(1,10)
print(x)

range(1, 10)

In [14]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 7. sum(): Returns the sum of all elements in an iterable.

In [15]:
list1 = [1,2,3,4,5,6,7,8,9,10]
fin = sum(list1)
print(fin)

55